<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>USER INFO</title>
    <link rel="stylesheet" type="text/css" href="/css/buttons-si.css"/>
</head>
<body>
<div align="center">
    <h1>USER</h1>
    <br/>
    <h2 th:text="${userId}">userId</h2>
    <h2 th:text="${name}">name</h2>
    <h2 th:text="${email}">email</h2>
    <img th:src="${profile}"/>
    <h3 th:text="${accessToken}">accessToken</h3>
    <br/>
    </p>
</div>
</body>
</html>
